[*.cs]


###############################
# C# Coding Conventions       #
###############################


# Use switch expression (IDE0066)
csharp_style_prefer_switch_expression = false # https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0066

# Use switch expression (IDE0090)
csharp_style_implicit_object_creation_when_type_is_apparent = false # https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0090



[GeoJSON.cs]

# Default severity for analyzer diagnostics with category 'Performance'
dotnet_analyzer_diagnostic.category-Performance.severity = none
